@import '../../../styles/media';

.Home {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1, main {
        color: #FAFAB0;
    };
    
    &_content {
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
            @include media(tablet) {
                width: 350px;
            }
        }
       &__btn {
        background-color: #c353c3;
        transition: color 0.4s ease-in-out;
        padding: 1rem 3rem;
        color: white;
        margin-top: 10%;
        font-size: xx-large;

        &:hover {
            background: #000;
            color: #c353c3;
        }
       }
       
       @include media(tablet) {
            flex-direction: column;
            margin-top: 30px;
            
       }
    }
    
}
.orbs{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    display: block;
    font-size: 128px;
    @include media(tablet) {
    font-size: 62px;
    text-align: center;
    position: absolute;
    top: 35rem;
    left: 20%;
   }
    
    span{
    color: red;
      display: inline-block;
      text-align: center;
      text-shadow: 0 0 20px orange, 1px 1px 20px orange, 2px 2px 20px orange, -1px -1px 20px orange, -2px -2px 20px orange;
    }
  }