@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 43, 31, 31;
	--background-start-rgb: 43, 31, 31;
	--background-end-rgb: 43, 31, 31;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 43, 31, 31;
		--background-start-rgb: 43, 31, 31;
		--background-end-rgb: 43, 31, 31;
	}
}
html {
	height: 100%;
	box-sizing: border-box;
	touch-action: manipulation;
	font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}
body {
	padding: 0;
	margin: 0;
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}
