.AllPackages {
	@apply flex flex-col  pt-40 items-center content-center;
	> h2 {
		@apply text-yellow-200 text-xl;
	}
	li,
	h3 {
		color: antiquewhite;
	}
	hr {
		color: antiquewhite;
		border-style: dashed;
		@apply my-3;
	}
}
