.ArrowUp {
    position: fixed;
    bottom: 100px;
    right: 40px;
    z-index: 10;
    color: #e4ddd6;
    padding: 5px;
    border: none;
    border-radius: 5px;
    caret-color: transparent;
   
}